@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Roboto, sans-serif;
    --sidebar-blue: #0284c7;
    --background-grey: #e5e7eb;
    --background-white: white;
    --gray-text: #4b5563;
}

img {
    width: 20px;
}

img.avatar-small {
    width: 50px;
}

img.avatar-large {
    width: 80px;
    margin-right: 15px;
}

img.dashboard-logo {
    width: 50px;
}

.trending-image {
    width: 40px;
}

#container {
    margin: 50px;
    background-color: var(--background-white);
    display: grid;
    grid-template-columns: 2fr 7fr;
    grid-template-rows: 2fr 9fr;
}

#sidebar {
    grid-row: 1 / 3;
    background-color: var(--sidebar-blue);
    color: white;
    font-size: 1.2rem;
    padding: 25px 0px;
}

#sidebar-items {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#sidebar li {
    list-style-type: none;
    min-height: 40px;
    display: flex;
    align-items: center;
}

#sidebar img {
    color: var(--background-white);
    filter: invert(1);
    margin: 0px 20px
}

.sidebar-graphic {
    justify-self: center;
}

.dashboard-text {
    font-size: 1.5rem;
}

#header {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr;
    padding: 10px 40px;
}

#header input {
    width: 450px;
    height: 25px;
    border-radius: 20px;
    margin-left: 20px;
    border: none;
    background-color: var(--background-grey);
}

#top-left {
    display: flex;
    align-items: center;
}

#top-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    padding-left: 70px;
    padding-right: 30px;
}

#greeting {
    display: flex;
    align-items: center;
}

#greeting-right {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    line-height: 1.5rem;
}

#hi {
    font-size: 0.9rem;
}

#hi-name {
    font-size: 1.3rem;
}

button {
    height: 40px;
    width: 80px;
    border-radius: 20px;
    border: none;
    background-color: var(--sidebar-blue);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#content {
    display: grid;
    grid-template-columns: 2.9fr 1fr;
    background-color: var(--background-grey);
    padding: 30px 30px;
    gap: 20px;
    font-weight: bold;
    box-shadow: 0px -3px 0px rgba(0, 0, 0, 0.2);
}

#projects, #announcements, #trending {
    margin-top: 10px;
}

#projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.card {
    min-height: 100px;
    display: grid;
    padding: 20px;
    line-height: 1.2rem;
    position: relative;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.card div {
    align-self: flex-end;
    justify-self: flex-end;
    margin-top: 20px;
}

.card img {
    margin-left: 20px;
}

.card p {
    color: var(--gray-text);
    font-weight: normal;
    font-size: 0.85rem;
}

.card::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 8px;
    background-color: #fbbf24;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#right-content {
    display: grid;
    gap: 20px;
    padding-bottom: 12px;
}

#announcements {
    padding: 20px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

#announcements > div {
    min-height: 65px;
}

#announcements h5 {
    font-size: .75rem;
    padding-bottom: 3px;
}

#announcements p {
    color: var(--gray-text);
    font-size: .7rem;
    font-weight: normal;
}

#trending {
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    gap: 15px;
    font-weight: normal;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.trending-item {
    display: flex;
}

#trending div {
    font-size: .8rem;
}

#trending p {
    font-size: .7rem;
    color: var(--gray-text);
}

.card, #announcements, #trending {
    background-color: var(--background-white);
    border-radius: 5px;
}